{{> menu active="about"}}

<section class="section">
  <div class="column">
    <div class="container has-text-centered mb-4">
      <h1 class="title is-centered">Playtime: Organise and manage your music</h1>
    </div>
    <div class="box has-text-centered">
      <i style="font-size: 96px; color: Orange;" class="fas fa-music"></i>
      <i style="font-size: 48px; color: Cyan;"class="fas fa-plus"></i>
      <i style="font-size: 96px; color: Yellow;" class="fas fa-headphones"></i>
    </div>
  </div>
</section>
