{{> welcome-menu}}

<section class="columns is-vcentered">
  <div class="column has-text-centered">
    <p>Sign up or Log in...</p>
  </div>
  <div class="column">
    <img src="/images/cloud-img.jpg">
  </div>
</section>
